.sidebar{
  z-index: 1;
  width: 250px;
}

#content-wrapper{
  border-left: 1px solid #e7e7e7;
  display: flex;
  align-items: stretch;
  height: calc(100% - 52px);
}

#page-content{
  padding: 0 0 0 10px;
  border-left: 1px solid #e7e7e7;
  width: 100%
}

.sidebar .sidebar-nav.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar{
  margin-bottom: 0;
}

html,body,#global-wrapper{
  height: 100%;
}
