$sidebar-width: 250px;

//page
html,body,#global-wrapper{
  height: 100%;
}

#content-wrapper{
  border-left: 1px solid #e7e7e7;
  display: flex;
  align-items: stretch;
  height: calc(100% - 52px);
  flex-direction: column;
}

#page-content{
  padding: 0 0 0 10px;
  border-left: 1px solid #e7e7e7;
  width: calc(100% - $sidebar-width)
}

//sidebar
.sidebar .sidebar-nav.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
  width: 100%
}

.sidebar .sidebar-search {
  padding: 15px;
}

.sidebar ul li {
  border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a {
  text-align: center;
}

.sidebar ul li a.active {
  background-color: #eee;
}

//navbar
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar{
  margin-bottom: 0;
}

.navbar-top-links {
  margin-right: 0;
}

.navbar-top-links li {
  display: inline-block;
}

.navbar-top-links li:last-child {
  margin-right: 15px;
}

.navbar-top-links li a {
  padding: 15px;
  min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
  display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}

.navbar-top-links .dropdown-user {
  right: auto;
  left: 0;
}

//notes(dashboard#index)
#btn-add-note{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: fixed;
  bottom: 10%;
  right: 10%;
  background-color: #337ab7;
  border: 6px solid #cfdcec;
  box-shadow: 0 0 3px gray;
}

#btn-add-note:after {
  content: "\2b";
  font-size: 80px;
  color: #F8F8F8;
  line-height: 90%;
}

#btn-add-note:focus { outline: 0 !important; }

#btn-add-note:hover {
  background:#30588e;
}

@media (min-width: 768px){
  .navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
  }

  .navbar-toggle {
    display: none;
  }

  .sidebar{
    z-index: 1;
    width: $sidebar-width;
  }

  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  #content-wrapper{
    flex-direction: row;
  }
}
