$sidebar-width: 250px;

#content-wrapper{
  border-left: 1px solid #e7e7e7;
  display: flex;
  align-items: stretch;
  height: calc(100% - 52px);
  flex-direction: column;
}

#page-content{
  padding: 0 0 0 10px;
  border-left: 1px solid #e7e7e7;
  width: calc(100% - $sidebar-width)
}

.sidebar .sidebar-nav.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
  width: 100%
}

//navbar
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar{
  margin-bottom: 0;
}

html,body,#global-wrapper{
  height: 100%;
}

.navbar-top-links {
  margin-right: 0;
}

.navbar-top-links li {
  display: inline-block;
}

.navbar-top-links li:last-child {
  margin-right: 15px;
}

.navbar-top-links li a {
  padding: 15px;
  min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
  display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}

.navbar-top-links .dropdown-user {
  right: auto;
  left: 0;
}

@media (min-width: 768px){
  .navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
  }

  .navbar-toggle {
    display: none;
  }

  .sidebar{
    z-index: 1;
    width: $sidebar-width;
  }

  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  #content-wrapper{
    flex-direction: row;
  }
}
