default: &default
  adapter: postgresql
  encoding: unicode
  username: <%= ENV['POSTGRES_USERNAME'] %>
  password: <%= ENV['POSTGRES_PASSWORD'] %>
  pool: 5

development:
  <<: *default
  database: PassKeep_development

test:
  <<: *default
  database: PassKeep_test

production:
  production:
  encoding: utf8
  pool: 15
