default: &default
  adapter: postgresql
  encoding: utf8
  host: localhost
  username: "<%= ENV['POSTGRES_USERNAME'] %>"
  password: "<%= ENV['POSTGRES_PASSWORD'] %>"
  pool: 5

development:
  <<: *default
  database: PassKeep_development

test:
  <<: *default
  database: PassKeep_test

production:
  encoding: utf8
  pool: 15
