!!!
%html{data: {"ng-app"=>true}}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PassKeep
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #global-wrapper
      .navbar.navbar-default
        .navbar-header
          %a.navbar-brand{ href: "#" } PASSKEEP
      #content-wrapper
        .navbar-default.sidebar
          .sidebar-nav.navbar-collapse
            %ul.nav
              %li qweqw
        #page-content
          = yield
